.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.order_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 5fr;
    column-gap: 36px;
    row-gap: 24px;
}

.order_list_column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order_list_content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    height: 180px;
}



.total_orders {
    display: flex;
    flex-direction: column;
}

