.profile {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.static {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 320px;
    align-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*align-items: flex-start;*/
}

.menu_item {
    min-height: 64px;
    display: flex;
    align-items: center;
}

.page_description {

}

.dynamic_page {
    flex-grow: 0;
}