.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 600px;
}

.title {
    font-family: 'Jet Brains Mono', Arial, serif;
}

.tab_section {
    display: flex;
}

.scroll_container {

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}