.order_modal{
    max-width: 720px;
    max-height: 718px;
    padding: 120px 100px;
}


.close_button {
    position: absolute;
    right: 40px;
    top: 60px;
}

.modal_content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.order_id {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.order_image {

}

.order_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}