.header {
    background: #1C1C21;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.menu_element {
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    justify-content: center;
}

.user_lk {
    display: flex;
    justify-content: end;
}